.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--secondary-color);
  }
  
  .main {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .title {
    margin-bottom: 1rem;
    color: var(--primary-color);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .label {
    text-align: left;
    color: var(--primary-color);
  }
  
  .input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .button:hover {
    background-color: #699992;
  }
  
  .text {
    margin-top: 1rem;
    color: var(--primary-color);
  }
  
  .link {
    color: var(--accent-color);
    text-decoration: underline;
  }
  @media (max-width: 600px) {
    .main {
      padding: 1rem;
      width: 90%;
    }
  
    .input, .button {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }
    